python-dotenv
opencv-python
PyQt6
imutils
tensorflow[and-cuda]==2.19.0
tensorflow-addons
tf_slim
matplotlib
numpy
tensorflow-hub
opentimestamps
opentimestamps-client
requests
#tensorflow-object-detection-api
